---
---

@import "{{ site.theme }}";

body {
font-variant-ligatures: common-ligatures;
background-color: rgb(230, 221, 222);
color: rgb(101, 74, 78);
}

a {
font-weight: 700;
color: #443235;
text-decoration: none;
border-bottom: 1px solid #f5f1f2;
box-shadow: inset 0 -3px 0 #f5f1f2;
transition: background 0.4s ease-out;
}

a:hover, a:focus {
    color: #443235;
    background:#f5f1f2
}

.markdown-body {
font-family: warnock-pro,serif;
font-weight: 400;
font-style: normal;
}

.markdown-body h1 {
font-family: warnock-pro-display, serif;
font-weight: 700;
font-style: normal;
}