---
---

@import "{{ site.theme }}";

body {
background-color: rgb(230, 221, 222);
color: rgb(101, 74, 78);
}

::selection {
background-color: #B34D5C;
color: white;
}

.markdown-body a {
font-weight: 700;
color: #443235;
transition: background 0.4s ease-out;
}

.markdown-body a:hover, .markdown-body a:focus {
    color: #443235;
    background-color:#f5f1f2
}

.markdown-body, .Header-link {
font-family: warnock-pro,serif;
font-weight: 400;
font-style: normal;
}

.markdown-body h1 {
font-family: warnock-pro-display, serif;
font-weight: 700;
font-style: normal;
background: -webkit-linear-gradient(#803742, #654a4e);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#short-bio img, #teaching-text img {
	max-width: 50%;
	float: left;
	border: 2px gray;
	padding: .25em;
	margin: .5em;
}

#teaching-text img {
	float: right;
}

.file-icon {
	background: url(/assets/img/file.svg) no-repeat left center;
	padding-left: 20px;
	}
	
	//Header
.Header {
	z-index: 32;
	display: flex;
	padding: 18px;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(255,255,255,0.7);
	background-color: #B34D5C;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
}


.Header-item {
	display: flex;
	margin-right: 2em;
	align-self: stretch;
	align-items: center;
	flex-wrap: nowrap;
}

.Header-link {
	font-weight: 600;
	color: #fff;
	white-space: nowrap;
	text-transform: uppercase;
}

.Header-link:hover {
	text-decoration: overline;
}

.Teaching .Header-link.teaching-link, .About .Header-link.about-link, .CV .Header-link.cv-link, .Contact .Header-link.contact-link {
	text-decoration: overline;
}

// Hide Markdown style code for Word

.markdown-body code {
	display: none;
}