---
---

@import "{{ site.theme }}";

body {
font-variant-ligatures: common-ligatures;
}

a {
font-weight: 700;
}

.markdown-body {
font-family: warnock-pro,serif;
font-weight: 400;
font-style: normal;
}

.markdown-body h1 {
font-family: warnock-pro-display, serif;
font-weight: 700;
font-style: normal;
}