---
layout: default
---
<p><a class="file-icon" href="../assets/pdf/Jacob-Moses-CV.pdf">Download PDF</a></p>
	 {% assign r= "}" %}
	 {{ content | replace: "\", " <class="test">&middot;</> " | remove: ":::" | remove: " {custom-style=References" | remove: " {custom-style=Teaching" | remove: " {custom-style=Publications" | remove: r }}

<div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-8089-3870" href="https://orcid.org/0000-0001-8089-3870" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_32x32.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0001-8089-3870</a></div>