---
layout: default
---
	 {% assign r= "}" %}
	 {{ content | replace: "\", " &middot; " | remove: ":::" | remove: " {custom-style=References" | remove: " {custom-style=Teaching" | remove: " {custom-style=Publications" | remove: r }}

<div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-8089-3870" href="https://orcid.org/0000-0001-8089-3870" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;">https://orcid.org/0000-0001-8089-3870</a></div>
